<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Digitação Flauta Transversal</title>
    <link rel="stylesheet" href="style.css">
    <script src="angular-1.5.8.js"></script>
    <script src="scripts.js"></script>
</head>
<body ng-app="app" ng-controller="Controller1">
    <h1>Digitação da Flauta Transversal</h1>
    <div class="grupos grupo-{{$index+1}}" ng-repeat="grupo in grupos">
        <h2>Oitava: {{$index+4}}</h2>
        <div class="digitacao digitacao-{{digitacao.grupo}}" ng-repeat="digitacao in grupo.grupo">
            <div class="nota-nome">{{digitacao.nota}}</div>
            <div class="pentagrama">
                <!-- 
                -->
                <div class="regiao extra"></div>
                <div class="regiao extra"></div>
                <div class="regiao extra"></div>
                <div class="regiao extra"></div>
                <div class="regiao extra"></div> 
                
                <div class="regiao"></div>
                <div class="regiao"></div>
                <div class="regiao"></div>
                <div class="regiao"></div>
                <div class="regiao"></div>
                <div class="notas">
                    <span ng-repeat="nota in digitacao.pentagrama.notas" 
                            class="bolinha linha{{nota.linha}} espaco{{nota.espaco}} linha-extra-{{nota.linha>5}}"
                            ng-class="{
                            'sustenido': nota.sustenido, 
                        'sustenido': nota.sustenido, 
                            'sustenido': nota.sustenido, 
                            'bemol': nota.bemol}">
                    </span>
                </div>
            </div>
            <div class="teclas">
                <!-- 
                    <svg id="chave1" class="chave" viewBox="10.035 10.422 21.841 56.847" xmlns="http://www.w3.org/2000/svg">
                        <path style="fill: red; stroke: black;stroke-width:4px;" d="M 27.016 67.24 L 27.078 24.749 C 22.933 22.286 23.555 22.929 21.551 22.741 C 16.141 22.232 13.371 25.361 10.978 18.407 C 7.284 7.673 15.464 10.63 17.954 11.308 C 22.567 12.564 26.152 14.608 27.303 15.416 C 32.279 18.91 31.422 24.63 31.422 24.63 L 31.876 67.269 L 27.016 67.24 Z"/>
                    </svg> 
                -->
                <span id="chave1" class="chave" ng-class="{'active' : digitacao.teclas.chave1}"></span>
    
                <div class="tecla tecla1" ng-class="{'active' : digitacao.teclas.tecla1}"></div>
                <div class="tecla tecla2" ng-class="{'active' : digitacao.teclas.tecla2}"></div>
                <div class="tecla tecla3" ng-class="{'active' : digitacao.teclas.tecla3}"></div>
    
                <span id="chave2" class="chave" ng-class="{'active' : digitacao.teclas.chave2}"></span>
                <span id="chave3" class="chave" ng-class="{'active' : digitacao.teclas.chave3}"></span>
    
                <div class="tecla tecla4" ng-class="{'active' : digitacao.teclas.tecla4}"></div>
                <span id="chave4" class="chave" ng-class="{'active' : digitacao.teclas.chave4}"></span>
                <div class="tecla tecla5" ng-class="{'active' : digitacao.teclas.tecla5}"></div>
                <span id="chave5" class="chave" ng-class="{'active' : digitacao.teclas.chave5}"></span>
                <div class="tecla tecla6" ng-class="{'active' : digitacao.teclas.tecla6}"></div>
                <span id="chave6" class="chave" ng-class="{'active' : digitacao.teclas.chave6}"></span>
                <span id="chave7" class="chave" ng-class="{'active' : digitacao.teclas.chave7}"></span>
                <span id="chave8" class="chave" ng-class="{'active' : digitacao.teclas.chave8}"></span>
            </div>
            <div class="numero validado-{{digitacao.validado}}">{{digitacao.numero}}</div>
        </div>
    </div>
</body>
</html>
