body{
    font-family: 'Courier New', Courier, monospace;

    h1{
        text-align: center;
    }

    .grupos{
        padding: 10px;
        margin: 0 auto;
        width: 760px;
        height: 440px;

        &.grupo-1{
            // background-color: gray;
            overflow: auto;
        }
    
        &.grupo-2{
            // background-color: red;
            overflow: auto;
        }
    
        &.grupo-3{
            // background-color: green;
            overflow: auto;
        }
    }


    .digitacao{
        border: solid 1px black;
        width: 50px;
        // height: 290px;
        border-radius: 11px;
        float: left;
        margin-left: 10px;
        padding-bottom: 40px;
        position: relative;

        &.digitacao-1{
            background-color: rgb(206, 206, 206);
        }

        &.digitacao-2{
            background-color: rgb(255, 93, 60);
        }

        &.digitacao-3{
            background-color: rgb(166, 253, 134);
        }
        
        .nota{
            height: 40px;
            background-color: #000080ff;
            color: #00ffffff;
            text-align: center;
            border-radius: 10px;
            padding-top: 5px;
        }
        
        .pentagrama{
            margin-top: 10px;
            height: 83px;
            position: relative;
            padding-top: 20px;

            .bolinha{
                width: 9px;
                height: 9px;
                background-color: black;
                border-radius: 5px;
                position: absolute;
                left: 21px;

                &.linha0{
                    top: 66px;

                    &:before{
                        content: "__";
                        display: block;
                        margin-top: -13px;
                        margin-left: -5px;
                    }
                }
                
                &.linha1{
                    top: 56px;
                }

                &.linha2{
                    top: 46px;
                }

                &.linha3{
                    top: 36px;
                }

                &.linha4{
                    top: 26px;
                }

                &.linha5{
                    top: 16px;
                }

                &.linha6{
                    top: 6px;

                    &:before{
                        content: "__";
                        display: block;
                        margin-top: -13px;
                        margin-left: -5px;
                    }
                }

                &.linha7{
                    top: -4px;

                    &:before{
                        content: "__";
                        display: block;
                        margin-top: -13px;
                        margin-left: -5px;
                    }
                }

                &.linha10{
                    top: -4px;

                    &:before{
                        content: "__(L10)";
                        display: block;
                        margin-top: -13px;
                        margin-left: -5px;
                    }
                }

                &.espaco0{
                    top: 66px - 5px;
                }
                
                &.espaco1{
                    top: 56px - 5px;
                }

                &.espaco2{
                    top: 46px - 5px;
                }

                &.espaco3{
                    top: 36px - 5px;
                }

                &.espaco4{
                    top: 26px - 5px;
                }

                &.espaco5{
                    top: 16px - 5px;
                }

                &.espaco6{
                    top: 6px - 5px;
                }

                &.espaco7{
                    top: -4px - 5px;
                }


                &.sustenido{
                    display: block;
                    background-color: black;
                    left: 12px;

                    &:after{
                        content: "#";
                        margin-left: -8px;
                        margin-top: -2px;
                        display: block;
                        font-size: 11px;
                        color: green;
                    }
                }

                &.bemol{
                    display: block;
                    background-color: black;
                    left: 36px;

                    &:after{
                        content: "b";
                        margin-left: -8px;
                        margin-top: -6px;
                        display: block;
                        font-size: 11px;
                        color: purple;
                    }
                }
            }

            .regiao{
                border-top: solid 1px black;
                height: 9px;

                &.extra{
                    border-top: solid 1px white;
                    // border: none;
                    // width: 16px;
                    margin: 0 auto;

                }

                &.cima{
                }

                &.baixo{
                }
            }
        }
        
        .teclas{
            // border: solid 1px pink;
            position: relative;

            .chave{
                border: solid 2px black;
                position: absolute;
                border-radius: 5px;
                background-color: white;
                
                &.active{
                    background-color: red;
                }
            }

            #chave1{
                width: 5px;
                height: 16px;
                left: 4px;
                top: 19px;
            }

            #chave2{
                width: 5px;
                height: 16px;
                left: 35px;
                top: 52px;
                
            }

            #chave3{
                width: 5px;
                height: 5px;
                left: 9px;
                top: 72px;
            }

            #chave4{
                width: 5px;
                height: 5px;
                left: 9px;
                top: 92px;
            }

            #chave5{
                width: 5px;
                height: 5px;
                left: 9px;
                top: 110px;
            }

            #chave6{
                width: 17px;
                height: 5px;
                left: 14px;
                top: 135px;
            }

            #chave7{
                width: 6px;
                height: 10px;
                left: 14px;
                top: 145px;
            }

            #chave8{
                width: 5px;
                height: 10px;
                left: 25px;
                top: 145px;
            }

            .tecla{
                width: 12px;
                height: 12px;
                margin-bottom: 1px;
                border-radius: 12px;
                border: solid 2px black;
                margin: 0 auto;
                background-color: white;
                
                &.active{
                    background-color: red;
                }

                &.tecla2{
                    margin-top: 10px;
                }

                &.tecla3{
                    margin-top: 2px;
                }

                &.tecla4{
                    margin-top: 20px;
                }

                &.tecla5{
                    margin-top: 2px;
                }

                &.tecla6{
                    margin-top: 2px;
                }
            }

        }
        .numero{
            bottom: -25px;
            position: absolute;
            border-radius: 10px;
            width: 50px;
            text-align: center;
            border: solid 1px black;
        }

        .validado-true{
            background-color: greenyellow;
        }
    }
}

.digitacao::after{
    content: "\a";
    white-space: pre;
}