body{
    h1{
        background-color: blue;
    }


    .digitacao{
        border: solid 1px red;
        width: 100px;
        
        .nota{
            border: solid 1px rgb(58, 177, 70);
        }
        
        .pentagrama{
            border: solid 1px yellow;
        }
        
        .teclas{
            border: solid 1px pink;
        }
    }
}