body .digitacao {
  border: solid 1px black;
  width: 50px;
  border-radius: 11px;
  float: left;
  margin-left: 10px;
  padding-bottom: 40px;
}
body .digitacao.grupo-1 {
  background-color: #cecece;
}
body .digitacao.grupo-2 {
  background-color: #ff5d3c;
}
body .digitacao.grupo-3 {
  background-color: #a6fd86;
}
body .digitacao .nota {
  height: 40px;
  background-color: #000080ff;
  color: #00ffffff;
  text-align: center;
  border-radius: 10px;
  padding-top: 5px;
}
body .digitacao .pentagrama {
  margin-top: 10px;
  height: 83px;
  position: relative;
  padding-top: 25px;
}
body .digitacao .pentagrama .bolinha {
  width: 9px;
  height: 9px;
  background-color: black;
  border-radius: 5px;
  position: absolute;
  left: 21px;
}
body .digitacao .pentagrama .bolinha.linha0 {
  top: 66px;
}
body .digitacao .pentagrama .bolinha.linha0:before {
  content: "__";
  display: block;
  margin-top: -12px;
  margin-left: -3px;
}
body .digitacao .pentagrama .bolinha.linha1 {
  top: 56px;
}
body .digitacao .pentagrama .bolinha.linha2 {
  top: 46px;
}
body .digitacao .pentagrama .bolinha.linha3 {
  top: 36px;
}
body .digitacao .pentagrama .bolinha.linha4 {
  top: 26px;
}
body .digitacao .pentagrama .bolinha.linha5 {
  top: 16px;
}
body .digitacao .pentagrama .bolinha.linha6 {
  top: 6px;
}
body .digitacao .pentagrama .bolinha.linha6:before {
  content: "__";
  display: block;
  margin-top: -12px;
  margin-left: -3px;
}
body .digitacao .pentagrama .bolinha.linha7 {
  top: -4px;
}
body .digitacao .pentagrama .bolinha.linha7:before {
  content: "__";
  display: block;
  margin-top: -12px;
  margin-left: -3px;
}
body .digitacao .pentagrama .bolinha.espaco0 {
  top: 61px;
}
body .digitacao .pentagrama .bolinha.espaco1 {
  top: 51px;
}
body .digitacao .pentagrama .bolinha.espaco2 {
  top: 41px;
}
body .digitacao .pentagrama .bolinha.espaco3 {
  top: 31px;
}
body .digitacao .pentagrama .bolinha.espaco4 {
  top: 21px;
}
body .digitacao .pentagrama .bolinha.espaco5 {
  top: 11px;
}
body .digitacao .pentagrama .bolinha.espaco6 {
  top: 1px;
}
body .digitacao .pentagrama .bolinha.espaco7 {
  top: -9px;
}
body .digitacao .pentagrama .bolinha.sustenido {
  display: block;
  background-color: black;
  left: 12px;
}
body .digitacao .pentagrama .bolinha.sustenido:after {
  content: "#";
  margin-left: -8px;
  margin-top: -2px;
  display: block;
  font-size: 11px;
  color: green;
}
body .digitacao .pentagrama .bolinha.bemol {
  display: block;
  background-color: black;
  left: 36px;
}
body .digitacao .pentagrama .bolinha.bemol:after {
  content: "b";
  margin-left: -8px;
  margin-top: -6px;
  display: block;
  font-size: 11px;
  color: purple;
}
body .digitacao .pentagrama .regiao {
  border-top: solid 1px black;
  height: 9px;
}
body .digitacao .pentagrama .regiao.extra {
  border-top: solid 1px white;
  margin: 0 auto;
}
body .digitacao .teclas {
  position: relative;
}
body .digitacao .teclas .chave {
  border: solid 2px black;
  position: absolute;
  border-radius: 5px;
}
body .digitacao .teclas .chave.active {
  background-color: red;
}
body .digitacao .teclas #chave1 {
  width: 5px;
  height: 16px;
  left: 4px;
  top: 19px;
}
body .digitacao .teclas #chave2 {
  width: 5px;
  height: 16px;
  left: 35px;
  top: 52px;
}
body .digitacao .teclas #chave3 {
  width: 5px;
  height: 5px;
  left: 9px;
  top: 72px;
}
body .digitacao .teclas #chave4 {
  width: 5px;
  height: 5px;
  left: 9px;
  top: 92px;
}
body .digitacao .teclas #chave5 {
  width: 5px;
  height: 5px;
  left: 9px;
  top: 110px;
}
body .digitacao .teclas #chave6 {
  width: 17px;
  height: 5px;
  left: 14px;
  top: 135px;
}
body .digitacao .teclas #chave7 {
  width: 6px;
  height: 10px;
  left: 14px;
  top: 145px;
}
body .digitacao .teclas #chave8 {
  width: 5px;
  height: 10px;
  left: 25px;
  top: 145px;
}
body .digitacao .teclas .tecla {
  width: 12px;
  height: 12px;
  margin-bottom: 1px;
  border-radius: 12px;
  border: solid 2px black;
  margin: 0 auto;
}
body .digitacao .teclas .tecla.active {
  background-color: red;
}
body .digitacao .teclas .tecla.tecla2 {
  margin-top: 10px;
}
body .digitacao .teclas .tecla.tecla3 {
  margin-top: 2px;
}
body .digitacao .teclas .tecla.tecla4 {
  margin-top: 20px;
}
body .digitacao .teclas .tecla.tecla5 {
  margin-top: 2px;
}
body .digitacao .teclas .tecla.tecla6 {
  margin-top: 2px;
}
.digitacao::after {
  content: "\a";
  white-space: pre;
}
